.shopitem{
    display: flex;
    flex-direction: row;
    padding: 5% 7.5%;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.shopitem--img{
    display: flex;
    width: 50%;
    height: 80vh;
    background-color: #27211E;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.shopitem--info{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: sans-serif;
    color: #27211E;
    padding-top: 5%;
    justify-content: center;
    align-items: left;
}
.shopitem--img, .shopitem--info{
    padding: 0 7%;
}
.shopitem--info h2{
    font-size: 2rem;
}
.shopitem--info p{
    line-height: 1.5rem;
}
.buy__btn{
    border-radius: 20px;
    border-style: solid;
    border-color: #27211E;
    font-size: 1.1rem;
    font-weight: 400;
    left: 12.5%;
    padding: 2% 1%;
    border-width: thin;
    width: 35%;
    text-align: center;
    align-self: center;
    margin-top: auto;
}
.buy__btn:hover{
    background-color:#27211E;
    color: #F7F7F7;
    transition: .5s;
    transition-timing-function: ease-in-out
}
@media only screen and (max-width: 800px){
    .shopitem--img{
        width: 80%;
    }
    .shopitem--info{
        width: 80%;
    }
    .shopitem--info h2{
        font-size: 4vh;
    }
}