.store__policies--split{
    display: flex;
    height: auto;
    width: 100%;
}
.policy--img{
    background: url("./IMG_8224.jpg");
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.policies{
    width: 50%;
    color: #757575;
    background-color: #F7F7F7;
}
.policies h2{
    padding: 20% 20% 0% 20%;
    font-weight: 400;
    font-size: 2rem;
}
.policies p{
    padding: 2.5% 20% 0 20%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.key--policy{
    background-color: #727557;
    color: #FFFFFF;
    padding: 10% 18%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
    .store__policies--split{
        flex-direction: column;
        height: auto;
    }
    .store__policies--split{
        width: 100%;
    }
    .policies{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 5% 5%;
        width: 90%;
        align-items: center;
    }
    .policies h2, .policies p{
        padding: 0;
    }
    .policy--img{
        height: 60vh;
        width: 100%;
    }
}