.testimonial{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    justify-content: center;
}
.name{
    margin-top: auto;
    padding-top: 5%;
}
.quote{
    padding: 0 42.5%;
}
@media screen and (max-width: 992px) {
    .testimonial{
        width: 75vw;
        margin: 5% 0;
    }
    .testimonial p{
        width: 100%;
    }
    .quote{
        padding: 0%;
        align-self: center;
    }
  }